@import "mixins";
@import "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;

  @include mobile {
    padding: 24px 0;
  }
}

.logo {
  width: 56px;
  cursor: pointer;
}

.link {
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $Grey;
  transition: all 250ms ease-in-out;
  width: 100px;
  &:hover {
    color: $Blue;
  }

  &__active {
    color: $Blue;
  }
}

.name {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  color: lighten($Grey, 10%);
  text-transform: uppercase;
}
