.header_bar {
  &__controls {
    position: absolute;
    right: 13px;
    transform: translateY(0.5px);
    user-select: none;

    &__toggle {
      position: absolute;
      right: 0;
      &__wrapper {
        position: relative;
        right: 16px;
        display: flex;
        border: none;
        background-color: transparent;
        outline: none;
        transform: translateY(1px);
        cursor: pointer;
      }
    }
  }
}
