.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  img {
    display: block;
    cursor: pointer;
  }

  &__chunk {
    height: 60px;
  }
  .awaiting__spinner {
    animation: unset;
  }
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: #4f6ef7;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  &__warn {
    color: #ef476f;
    background-color: rgba(#ef476f, 0.1);
    font-weight: 500;
    padding: 18px;
  }

  &__danger {
    color: #ef476f;
    background-color: rgba(#ef476f, 0.1);
    font-weight: 500;
    padding: 18px;
  }

  &__spinner {
    animation: spin 1s linear infinite;
    margin-right: 12px;
    margin-top: -2px;
  }

  &__light {
    background: #eef1ff;
    color: #4f6ef7;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
  }

  &__pending {
    background: #eef1ff;
    color: #4f6ef7;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    height: 60px;
    width: 270px;
    margin-top: 0;
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
