.bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  min-height: 57px;
  width: 100%;
  border-bottom: 1px solid rgba(#a3a3a3, 0.1);
  background-color: white;
}

.bp_logo {
  position: relative;
  height: 18px;
  margin-left: 4px;
}

.bubble {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background: #f5f5f7;
  border-radius: 50vh;
  font-size: 11px;
  letter-spacing: 0.2px;
  margin-right: 12px;
  cursor: pointer;
  user-select: none;
  &__details {
    font-weight: 600;
    color: #4f6ef7;
  }
  &__time {
    font-weight: 500;
    color: rgba(#979aa1, 0.75);
  }
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px 36px;
  background: #f9f9f9;
  box-shadow: inset 0 0 10px 0 rgba(black, 0.1);
  overflow: hidden;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &__left {
      font-weight: 500;
      font-size: 13px;
      color: #9ba3ae;
      text-align: left;
    }
    &__right {
      font-weight: 500;
      font-size: 13px;
      color: #565d6e;
      text-align: right;
    }
    &:not(:first-child) {
      margin-top: 17px;
    }
  }
}
