.header {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  background-color: white;
  padding: 16px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  border-bottom: 1px solid rgba(#a3a3a3, 0.1);
  z-index: 1;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f5f5f7;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  &__icon {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 16px;
  }
  &__selected {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: 500;
    font-size: 14px;
    color: #565d6e;
    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.input {
  font-weight: 400;
  font-size: 12px;
  color: #434d5a;
  text-align: left;
  width: 100%;
  margin-left: 16px;
  margin-right: 40px;
  border: none;
  background-image: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #9ba3ae;
  }
}

.wallets {
  display: flex;
  flex-direction: column;
  padding: 12px 18px 28px;
  overflow: scroll;
  &__title {
    font-weight: 500;
    font-size: 13px;
    color: #979aa1;
    text-align: left;
    margin: 12px;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.wallet {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 10px 12px;
  margin: 2px 0;
  font-weight: 500;
  font-size: 16px;
  color: darken(#565d6e, 5%);
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  &__chevron {
    position: absolute;
    right: 16px;
    height: 12px;
    opacity: 0.5;
    transition: transform 300ms ease-in-out;
  }
  &:hover {
    background-color: #f8fbfd;
    color: #4f6ef7;
    .wallet__chevron {
      transform: translateX(2px);
    }
  }
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(white, 0) 0%, white 100%);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.currency {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 3px 5px 3px 3px;
  border-radius: 4px;
  border: 1px solid rgba(#9ba3ae, 0.14);
  background-color: rgba(#f6f7fc, 0.16);
  font-weight: 700;
  font-size: 10px;
  color: #9ba3ae;
  text-transform: uppercase;
  margin: auto 4px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &:hover {
    color: #4f6ef7;
    border-color: #4f6ef7;
  }
  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
  &__all {
    font-weight: 700;
    font-size: 8px;
    color: #4f6ef7;
    margin-left: 6px;
    cursor: pointer;
  }
}

@mixin pulse($width, $name) {
  animation: $name 2s linear infinite;
  @keyframes #{$name} {
    0% {
      width: $width;
      height: $width;
    }
    100% {
      width: $width * 2;
      height: $width * 2;
    }
  }
}

.pulser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &__icon {
    width: 40px;
    position: absolute;
    z-index: 1;
  }
  &__rings {
    position: absolute;
    border-radius: 50%;
    $base: 100px;
    &__0 {
      width: $base / 4;
      height: $base / 4;
      @include pulse($base / 4, pulse0);
    }
    &__1 {
      width: $base / 2;
      height: $base / 2;
      @include pulse($base / 2, pulse1);
    }
    &__2 {
      width: $base;
      height: $base;
      @include pulse($base, pulse2);
    }
    &__3 {
      width: $base * 2;
      height: $base * 2;
      @include pulse($base * 2, pulse3);
    }
    &__4 {
      width: $base * 4;
      height: $base * 4;
      @include pulse($base * 4, pulse4);
    }
    &__5 {
      width: $base * 8;
      height: $base * 8;
      @include pulse($base * 8, pulse5);
    }
  }
}
