.container {
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 12px 4px rgba(black, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.title {
  font-size: 15px;
  color: #434d5a;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 32px;
  color: black;
  text-align: center;
  &__block {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.logo {
  width: 26px;
  height: 26px;
  margin-right: 14px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 32px 26px;
  margin-top: 12px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &__left {
      font-weight: 400;
      font-size: 14px;
      color: rgba(#73808c, 0.8);
      text-align: left;
    }
    &__right {
      font-weight: 400;
      font-size: 14px;
      color: #434d5a;
      text-align: right;
    }
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}
