.form {
  &__group {
    position: relative;
    padding: 15px 0 0;
  }
  &__field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 14px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 200ms ease;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown {
      & ~ .form__label {
        font-size: 14px;
        cursor: text;
        top: 20px;
      }
    }
    &:focus {
      border-color: #4f6ef7;
      & ~ .form__label {
        color: #4f6ef7;
      }
    }
  }
  &__label {
    color: #9b9b9b;
  }
}

.form__label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 12px;
  transition: 200ms;
}
