.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f6fa;
  border-radius: 10px;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
  margin-bottom: 24px;

  &__wrapper {
    margin: 0 20px;
  }

  &__label {
    font-size: 12px;
    color: rgba(#434d5a, 0.75);
    position: absolute;
    top: 0;

    &__action {
      color: #4f6ef7;
      font-weight: 600;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 5px auto 0;
      height: 18px;
      width: 195px;
    }
  }

  &__value {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 4px;
  }
}
