@import "variables";

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 14px;
  color: $Grey;
  margin-top: 20px;
}

.dot {
  margin: auto 10px;
}
