@import "mixins";
@import "variables";

.dark-mode {
  background-color: black;
  h1,
  h2,
  h3,
  h4,
  h6,
  blockquote,
  .lead,
  .list__item {
    color: invert($Black);
  }
  h4 {
    background-color: rgba($Pale, 0.15);
  }
  h5,
  .link,
  .breakdown {
    @include invert;
  }
}
