@import "variables";

// pure-react-carousel
.carousel {
  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50vh;
    background-color: transparent;
    border: 1px solid rgba($Grey, 0.5);
    padding: 0;
    margin: 0 4px;
    transition: all 250ms ease;
    &:hover,
    &:focus {
      border: 1px solid rgba($Grey, 0.75);
      outline: none;
    }
    &--selected {
      border: 1px solid $Grey !important;
    }
  }
}
