@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables";

html,
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: $Black;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: $Black;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: $Black;
  line-height: 34px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  color: $Black;
  background-color: $Pale;
  padding: 12px !important;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;

  &,
  .begin-section {
    margin-top: 56px;
    @include mobile {
      margin-top: 46px;
    }
  }
  &,
  .end-section {
    margin-bottom: 56px;
    @include mobile {
      margin-bottom: 46px;
    }
  }
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: $Grey;
  line-height: 26px;
}

.lead {
  font-size: 18px;
  color: $Black;
  line-height: 30px;

  p:not(:first-child) {
    margin-top: 28px;
  }
  .link {
    display: inline;
  }
}

.link {
  color: $Blue;
  font-weight: 500;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  &:hover {
    text-decoration: none;
    color: darken($Blue, 25%);
  }
  &--pink {
    color: $Pink;
    &:hover {
      color: darken($Pink, 15%);
    }
  }
}

.list {
  display: block;
  &__item {
    display: flex;
    color: $Black;
    font-size: 18px;
    font-weight: 500;
    margin: 32px auto;
    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50vh;
      background-color: $Wire;
      font-size: 14px;
      min-width: 28px;
      height: 28px;
      margin-right: 18px;
      transform: translateY(1px);
    }
  }
}

blockquote {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 64px auto 80px;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: $Black;

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: auto auto;
    width: 32px;
    height: 2px;
    background: $Pink;
  }
  &:before {
    top: -36px;
  }
  &:after {
    bottom: -40px;
  }
}

time {
  font-size: 16px;
  color: $Grey;
}
