/* Colors */
$Blue: #1f7af7;
$Liquid: #9ce8f8;
$Aqua: #40c8e0;
$Cyan: #50e3c2;
$Pink: #ff1f75;
$Salmon: #ffaab9;

/* Neutrals */
$Pale: #f5f5f5;
$Wire: #ececef;
$Grey: #626769;
$Black: #292e31;
$Blacker: #1a1a1b;
