@import "reset";
@import "variables";
@import "mixins";
@import "typography";
@import "utils";
@import "overrides";
@import "dark";

html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: "smooth";
  background-color: white;
  transition: background-color 400ms ease, color 400ms ease;
}

.layout {
  max-width: $MAX_WIDTH;
  margin: 0 auto;
  padding: 0 24px;
}

.body {
  width: 100%;
  margin: 0 auto;
  padding: 48px 0;

  @include mobile {
    padding: 32px 0;
  }
}

a {
  color: initial;
  text-decoration: none;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}
