@import "reset";
@import "variables";
@import "mixins";
@import "typography";
@import "utils";
@import "overrides";

html,
body {
  position: relative;
  overflow-x: hidden;
}

a {
  color: initial;
  text-decoration: none;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}

.layout {
  max-width: $MAX_WIDTH;
  margin: 0 auto;
  padding: 0 24px;
}

.body {
  width: 100%;
  margin: 0 auto;
  padding: 56px 0;

  @include mobile {
    padding: 40px 0;
  }
}
