@import "mixins";
@import "variables";

.asset {
  width: 100%;
  max-width: $WIDE_MAX_WIDTH;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 24px;
  background-color: $Pale;
  transition: background-color 400ms ease;

  *:focus {
    outline: none;
  }

  @include mobile {
    padding: 24px;
  }

  &__dark {
    background-color: invert($Pale, 95%);
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin: 20px auto -20px;

  @include mobile {
    margin: 16px auto -10px;
  }
}
